{% extends "base.html" %}

{% block content %}
    <h1>Политика {rule.name}</h1>

    {% if rule %}
      <table class="table">
          <tr>
              <th>Название</th>
              <th>Описание</th>
              <th>Данные</th>
          </tr>
          <tr>
              <td>{{rule.title}}</td>
              <td>{{rule.description}}</td>
              <td>{{rule.data}}</td>
          </tr>
      </table>
    {% else %}
      <p>Политика не найдена в базе данных. <a href="">Создать</a></p>
    {% endif %} 
{% endblock %}