{% extends "base.html" %}

{% block content %}
<h2>Создать политику</h2>

<form action="{% url 'rule_create' %}" method="POST">
    <div class="form-group">
        <label>Название</label>
        <input type="name" class="form-control" id="title" name="title" placeholder="default">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="name" class="form-control" id="description"  name="description" placeholder="default">
    </div>
    <div class="form-group">
        <label>Данные</label>
        <textarea class="form-control" id="data" name="data" placeholder="JSON"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

{% endblock %}